*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}
body{
    font-family: "Manrope", sans-serif;
    width: 100%;
    max-width: 100%;
    margin:  0 auto;
    height: auto;
    scroll-behavior: smooth;  
}
.container{
    padding: 1.5%;
    max-width: 100%;
    margin: 0 auto;
 
}
section{
    width: 100%;
    height: 55vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 800;
    transition: 0.5s;
}
section:hover{
    letter-spacing: 15px;
}
.section1{
    background-color: rgba(255, 255, 0, 0.459);
}
.section2{
    background-color: rgba(9, 121, 37, 0.644);
}
.section3, .section5{
    background-color: rgba(255, 255, 0, 0.459);
}
.section4, .section6{
    background-color: rgba(9, 121, 37, 0.644);
}
.section7{
    background-color: rgba(137, 43, 226, 0.555);
}
.top-scroll{    
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    background-color: black;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
}

.top-scroll i{
    color: antiquewhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    pointer-events: auto;
    transition: 0.3s;
}
.top-scroll i:hover{
    margin-top: -3px;
}
.top-scroll.active{
    opacity: 1;
    pointer-events: auto;
    bottom: 38px;
}
