*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}
body{
    font-family: "Manrope", sans-serif;
    width: 100%;
    max-width: 100%;
    margin:  0 auto;
    height: auto;
    
}

section{
    margin: 5% 2%;
}
h2{
    background-color: black;
    color: #fff;
    padding: 5px;
}

/* ----------------Horizontal start here------------------  */
#horizontal{
    background-color: aquamarine;
    padding: 1rem;
    margin: 0.5rem;
}
#horizontal h2{
    margin-bottom: 5%;
}

.horizontal-icon-bar{
    background-color: rgba(1, 2, 2, 0.89);
    width: 8%;
    padding: 5px;
    border-radius: 10px;
}
.horizontal-icon-bar a{
    display: block;
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    padding: 5px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.5s;
    /*  */
}
.horizontal-icon-bar a:hover,
.vertical-icon-var a:hover{

    background-color: #377d99e7;
    color: #fff;
    
}
.active{
    background-color: rgb(0, 255, 0);
   
}
/* ----------------Horizontal ends here------------------  */
/* ----------------Vertical start here------------------  */
#vertical{
    background-color: aqua;
    max-width: 100%;
    padding: 1rem;
    margin: 0.5rem;
   
}
.vertical-icon-var{
    width: 100%;
    background-color: rgb(4, 37, 26);
    overflow: auto;
    margin-top: 10px;
    border-radius: 10px;
}
.vertical-icon-var a{
    float : right;
    font-size: 2.5rem;
    display: inline-block; 
    margin: 10px 10px;
    padding: 0 10px;
    color: #fff;
    transition: 0.5s;
    border-radius: 10px;
    text-align: center;
}
.vertical-icon-var .active{
    background-color: rgba(48, 48, 236, 0.911);
}


/* ----------------Vertical ends here------------------  */
/* ----------------menu icon starthere------------------  */
#menu-icon{
    background-color: rgb(26, 102, 102);
    max-width: 100%;
    padding: 1rem;
    margin: 0.5rem;
}
.menu-icon-bar{
    max-width: 10%;
    margin: 2%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.116);
    padding: 5px;
    transition: 0.5s;
    border-radius: 3px;
    display: inline-block;
   
}
.menu-icon-bar:hover{
    background-color: rgba(0, 0, 0, 0.836);
}
.menu-icon-bar .line{
    width: 55px;
    height: 5px;
    background-color: azure;
    margin: 8px 0;
    transition: 0.5s;
}
.menu-icon-bar .line:hover{
    background-color: blue;

}

/* -------------------------- */
.change .bar1{
    transform:  translate(0, 13px) rotate(-45deg);
}
.change .bar2{
    opacity: 0;
}
.change .bar3{
    transform:  translate(0, -13px) rotate(45deg);
}




/* ----------------menu icon ends here------------------  */
/* ----------------mobile vertical nav start here------------------  */

#vertical-mobile-navbar{
    background-color: #e2b5c97a;
    max-width: 100%;
    height: 80vh;
    padding: 2%;
    
}
.mobile-container{
    max-width: 650px;
    background-color: rgba(0, 0, 0, 0.425);
    padding: 1%;
    height: auto;
    margin: 0 auto;
}
.topnav{
    background-color: rgb(107, 216, 79);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 5px;
   
}
.topnav:hover{
    background-color:  rgb(143, 230, 121) ;
}
.topnav #my-link{
   /* display: none; */
}
.mylink-logo{
    font-size: 1.7rem;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: rgb(107, 216, 79);

}
#my-link{
    color: white;
    
    text-decoration: none;
    font-size: 17px;
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: rgba(165, 226, 150, 0.952);
    top: 3.55rem;
    border: 1px solid #00000048;
    border-radius: 5px;
    transition: 0.5s;

}
.mylink-logo:hover, #my-link a:hover{
    background-color: rgb(143, 230, 121) ;
    border: 1px solid #0000004b;

}
#my-link a{
    color:#000;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
    width: 100%;
    padding: 5px 10px;
    transition: 0.5s;
    
    
}
.menu-mobile{
    font-size: 1.5rem;
    color: rgb(227, 240, 240);
    background-color: #000;
    padding: 5px 10px;
    margin: auto 15px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    transition: 0.3s;
}
.menu-mobile:hover{
    background-color: #f7f8f7;
    color: #000;
}
#mobile-body{
    padding: 4% 1%;
    margin: 0;
    transition: 0.5s;
    
}
#mobile-body h3{
    font-size: 1.6rem;
    margin: 2% 0;
    color: #fff;
}
#mobile-body p{
    font-size: 20px;
    color: #fff;
}
/* --
--------------mobile vertical nav ends here------------------  */