*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}
body{
    font-family: "Manrope", sans-serif;
    width: 100%;
    max-width: 100%;
    margin:  0 auto;
    height: auto;
    scroll-behavior: smooth;  
    background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=pexels-padrinan-255379.jpg&fm=jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 44%;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2% auto;
    
    background-color: rgb(255, 254, 254);
    padding: 1% 2.5%;
    border-radius: 5px 20px 5px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    

}
h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: 600;
    color: blueviolet;
    max-width: 100%;
    margin-top: 10px;
    padding-bottom:25px ;
    border-bottom: 1px solid rgb(192, 16, 183);
}
form{
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: auto;
    padding: 10px 15px;
}
form input , textarea{
    width: 100%;
    font-family: "Manrope", sans-serif;
    resize: none;
    padding: 15px 10px;
    border: 0;
    outline: 0;
    border: 1px solid rgb(224, 199, 145);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.877);
}
::placeholder{
    color: rgba(0, 0, 0, 0.247);
    font-family: "Manrope", sans-serif;
    text-transform: capitalize;
}
form input:focus , textarea:focus{
    background-color: rgba(222, 238, 233, 0.438);
    border-color: blueviolet;
}
button{
    border: 0;
    outline: 0;
    padding: 12px 18px;
    background-color: blueviolet;
    color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
    margin-top:5% ;
    width: 150px;
    max-width: 100%;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover{
    border: 1px solid blueviolet;
    background-color: #fff;
    color: blueviolet;
}

